.text-primary {
    color: #e20020 !important;
}

.btn-primary {
    background-color: #e20020 !important;
}

a {
    color: #88001e;
}

a:hover {
    color: #e20020;
    text-decoration: none;
}

.colFloat2 {
    width: 50%;
    column-count: 2;
}


.mobile-navigation-container {

}


.hero h2 {
    font-size: 56px;
    font-weight: bold;
}

.hero-eyebrow {
    font-size: 21px;
    font-weight: lighter;
}

.hero-tagline {
    font-size: 32px;
}

.mobile-navigation-container a {
    color: #cacaca;
    display: block !important;
    border-bottom: 1px solid #7e7e7e;
}

@media only screen and (max-width: 600px) {
    .colFloat2 {
        width: 100%;
        column-count: 1;
    }

    .hero-eyebrow {
        font-size: 16px;
    }
    .hero h2 {
        font-size: 40px;
    }

    .hero-tagline {
        font-size: 22px;
    }
}
