body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.link-button {
  background-color: #343A40;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:focus {
  outline: none;
}

#cart-widget-container::-webkit-scrollbar {
  display: none;
}
